.reservation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 55px;
  height: 55px;
}